<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fastcampus.boardserver.mapper.CommentMapper">

    <insert id="register" parameterType="com.fastcampus.boardserver.dto.CommentDTO">
        INSERT INTO `comment`
        (`postId`,
         `contents`,
         `subCommentId`)
        VALUES (#{postId},
                #{contents},
                #{subCommentId})
    </insert>

    <update id="updateComments" parameterType="com.fastcampus.boardserver.dto.CommentDTO">
        UPDATE comment
        SET contents = #{contents},
            subCommentId = #{subCommentId}
        WHERE id = #{id}
    </update>

    <delete id="deletePostComment" >
        DELETE FROM comment
        WHERE id = #{commentId}
    </delete>

</mapper>