<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fastcampus.boardserver.mapper.PostSearchMapper">

    <select id="selectPosts" resultType="com.fastcampus.boardserver.dto.PostDTO">
        SELECT `id`,
        `name`,
        `isAdmin`,
        `contents`,
        `createTime`,
        `views`,
        `categoryId`,
        `userId`,
        `fileId`,
        `updateTime`
        FROM post
<!--        <choose>-->
<!--            <when test="categoryDTO.sortStatus.toString() == 'CATEGORIES'">-->
<!--                ORDER BY categoryId ASC-->
<!--            </when>-->
<!--            <when test="categoryDTO.sortStatus.toString() == 'NEWEST'">-->
<!--                ORDER BY createTime DESC-->
<!--            </when>-->
<!--            <when test="categoryDTO.sortStatus.toString() == 'OLDEST'">-->
<!--                ORDER BY createTime ASC-->
<!--            </when>-->
<!--            <when test="categoryDTO.sortStatus.toString() == 'GRADE'">-->
<!--                LEFT JOIN user-->
<!--                ON post.userId = user.id-->
<!--                GROUP BY user.id-->
<!--                ORDER BY user.status DESC-->
<!--            </when>-->
<!--        </choose>-->
<!--        <include refid="COMMON_PAGING_TAIL"/>-->
    </select>

<!--    <sql id="COMMON_PAGING_TAIL">-->
<!--        LIMIT #{categoryDTO.searchCount, jdbcType=INTEGER} OFFSET #{categoryDTO.pagingStartOffset, jdbcType=INTEGER}-->
<!--    </sql>-->

</mapper>