<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fastcampus.boardserver.mapper.TagMapper">

    <insert id="register" parameterType="com.fastcampus.boardserver.dto.TagDTO">
        INSERT INTO `tag`
        (`name`,
         `url`)
        VALUES (#{name},
                #{url})
    </insert>

    <update id="updateTags" parameterType="com.fastcampus.boardserver.dto.TagDTO">
        UPDATE tag
        SET name = #{name},
            url = #{url}
        WHERE id = #{id}
    </update>

    <delete id="deletePostTag" >
        DELETE FROM tag
        WHERE id = #{tagId}
    </delete>

</mapper>